@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

footer{
    padding: 50px;
    color: #FFFEF7;
    background-color: #718B8B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: "SUITE-Regular";
}

#text-logo{
    width: 300px;
}

.footer-nav{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.footer-menu{
    display: flex;
    gap: 100px;
}
.footer-icon{
    display: flex;
    gap: 20px;
    font-size: 30px;
}

hr{
    width: 100%;
    border: 1px solid #FFFEF7;
}

footer>p{
    text-align: center;
    color: rgb(209, 209, 209);
}

@media screen and (max-width: 1000px) {
    .footer-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 20px;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    #text-logo {
        width: 100%;
    }
    footer {
        padding: 50px 10px;
    }
}