.gallery-companyName{
    padding-left: 3%;
    padding-top: 2%;
}

.gallery-postName{
    font-size: 130%;
    font-weight: bold;
    margin-left: 3%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gallery-deadline{
    font-size: 14px;
    margin-top: 1%;
    margin-right: 2%;
}


.gallery-heart{
    font-size: 200%;
    margin-left: 91%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.gallery-container{
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
}

.gallery-career{
    margin-top: 5%;
    margin-left: 4%;
    font-weight: bold;
    text-align: left;
}

.gallery-jobDetail{
    margin-top: 1%;
    margin-left: 4%;
    color: gray;
}

.gallery-subContainer{
    display: flex;
    justify-content: space-between;
}

.gallery-checkToday{
    width: 20%;
    height: 28px;
    margin-right: 2%;
    margin-bottom: 5%;
    font-size: 70%;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 28px;
    border-radius: 5px;
}

.gt-firstBox {
    border: 1px solid lightgray;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: lightgray;
}

.gt-secondBox {
    border: 1px solid lightgray;
    height: 110px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.keeper>img{
    width: 100px;
    margin-left: 7%;
}

@media screen and (min-width: 650px) and (max-width: 1300px) {
    .gallery-postName{
        font-size: 100%;
    }
    .gallery-career{
        font-size: 80%;
    }
    .gallery-deadline{
        font-size: 12px;
    }
    .gallery-jobDetail{
        font-size: 80%
    }
    .gallery-checkToday{
        width: 25%;
    }
    .gallery-heart{
        margin-left: 86%;
    }
    .keeper img{
        width: 100px;
        margin-left: 5%;
    }
}

@media screen and (min-width: 375px) and (max-width: 650px) {
    .gallery-postName{
        font-size: 80%;
    }
    .gallery-career{
        font-size: 60%;
    }
    .gallery-deadline{
        font-size: 9px;
    }
    .gallery-jobDetail{
        font-size: 60%;
    }
    .gallery-checkToday{
        width: 50%;
    }
    .gallery-heart{
        margin-left: 78%;
    }
    .keeper img{
        width: 70px;
        margin-left: 3%;
    }
}