header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7CD7A0;
    padding: 50px;
    gap: 50px;
}

.logo>a>img{
    width: 400px;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar>ul{
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
}
.user-info{
    display: flex;
    gap: 20px;
}
.myname{
    cursor: pointer;
}
.bell-icon{
    cursor: pointer;
}