@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7CD7A0;
    padding: 50px;
    gap: 50px;
    font-family: "SUITE-Regular";
}

.logo>a>img{
    width: 400px;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4E4E4E;
}
.navbar>ul{
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
}
.navbar>ul>li{
    transition: .2s;
}
.navbar>ul>li:hover{
    color: #FFFEF7;
}
.user-info{
    display: flex;
    gap: 20px;
}
.myname{
    cursor: pointer;
}
.bell-icon{
    cursor: pointer;
    font-size: 20px;
}


.navbar-icon {
    font-size: 40px;
    color: #FFFEF7;
    display: none;
    position: relative;
    cursor: pointer;
}
.toggle-nav>ul {
    cursor: default;
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 50px;
    gap: 40px;
    background-color: #7cd7a0b6;
    font-size: 20px;
    font-weight: bold;
}
.toggle-nav>ul>li>a {
    transition: .4s;
}
.toggle-nav>ul>li>:hover {
    letter-spacing: .5em;
    color: #4E4E4E;
}
.hide-nav {
    display: none;
}


@media screen and (max-width: 1000px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-icon {
        display: block;
    }

    .navbar {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 30px 20px;
    }
    .logo>a>img{
        width: 300px;
    }
}