.join-container{
    padding: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}
.join-container>h1{
    font-size: 50px;
}
.join-container>p{
    width: 800px;
}
.join-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.in-btn{
    width: 100px;
    color: white;
    background-color: #FF8FAA;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    border: none;
}
.in-btn>a{
    display: block;
    width: 100%;
    padding: 10px;
}
.up-btn{
    width: 100px;
    color: white;
    background-color: #62AB7F;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    border: none;
}
.up-btn>a{
    display: block;
    width: 100%;
    padding: 10px;
}



@media screen and (max-width: 1000px) {
    .join-container>p {
        width: 100%;
    }
}