@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.profile-container {
    color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 50px;
    text-align: center;
    font-family: "SUITE-Regular";
}

.profile-container>div>h1 {
    word-break: keep-all;
}
.profile-container>div>p {
    padding-top: 10px;
    color: gray;
}
.profile-container>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.profile-btn>a {
    width: 120px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px;
}
.profile-btn>a:nth-of-type(1) {
    color: white;
    background-color: #FF8FAA;
}
.profile-btn>a:nth-of-type(2) {
    color: white;
    background-color: #62AB7F;
}

.profile-info {
    display: flex;
    gap: 70px;
}
.profile-info>div>p {
    margin-top: 10px;
}
.profile-info>div span {
    color: #FB6A3D;
    font-weight: bold;
}


@media screen and (max-width: 1100px) {
    .profile-container {
        padding: 100px 20px;
    }
}

@media screen and (max-width: 600px) {
    .profile-container {
        padding: 50px 20px;
        margin-top: 50px;
    }

    .profile-container>img {
        width: 150px;
        height: 150px;
    }

    .profile-btn {
        flex-direction: column;
    }
    .profile-btn>a {
        width: 100%;
    }

    .profile-info>div>h3, .profile-info>div>p {
        font-size: 15px;
    }
}