.container-box {
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items:start;
  padding: 100px 100px 30px 100px;
  gap: 10px;
  text-align: center;
}
.container-box > p {
  color: #5EAEDB;
  font-weight: 700;
}
.container-box > p > span {
  color: #bebebe;
  font-weight: 700;
}


.galleryandlist {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.galleryandlist>div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 5px;
}
.view-btn {
  font-size: 30px;
  color: #dbdbdb;
  cursor: pointer;
}
.view-btn:hover {
  color: #289DDF;
  font-weight: bold;
}
.blue-btn {
  color: #289DDF;
}
.search-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.search-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-box>input {
  background-color: #e9e9e9;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.search-box>input:focus {
  outline: none;
}
#search-icon {
  color: gray;
  font-size: 30px;
  cursor: pointer;
}

hr {
  border: 1px solid #e9e9e9;
}