.bookmark {
    padding: 100px;
    color: #4e4e4e;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookmark>div>p {
    color: #5EAEDB;
    font-weight: bold;
    padding-top: 10px;
}

.customer1{
    font-weight: bold;
    color: gray;
}

.customer2{
    font-weight: bold;
    color: violet;
}


.noBookmark {
    font-size: 20px;
    font-weight: 500px;
    margin-top: 3%;
}

.bottomShape { 
    margin-bottom: 10%;
}

.bookmark-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 왼쪽부터 정렬 */
    gap: 20px;
}

.bookmark-container > div {
    width: calc(33.33% - 20px);
}

.bookmark-container-inline{
    display: initial;
}

.selectBox-container{
    height: 60px;
    line-height: 68px;
}

@media screen and (min-width: 650px) and (max-width: 1300px) {
    .colorless-button {
        font-size: 170%;
    }
    .search{
        width: 220px;
    }
}

@media screen and (min-width: 375px) and (max-width: 650px) {
    .colorless-button {
        font-size: 140%;
    }
    .search{
        width: 180%;
    }
}