.mainLocation{
    padding-left: 5%;
}

.customer{
    padding: 10px;
    display: flex;
    padding-left: 5%;
}

.customer1{
    font-weight: bold;
    color: gray;
}

.customer2{
    font-weight: bold;
    color: violet;
}

.gelleryandlist{
    padding-left: 5%;
    padding-top: 3%;
    display: flex;
}

.colorless-button{
    background-color: transparent;
    border: none;
    color:gray;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    outline: none;
    position: relative;
    display: inline-block;
}

.colorless-button::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: gray;
    transition: width 0.3s ease;
}

.colorless-button:hover::after{
    width: 100%;
}

.search{
    margin-left: 60%;
    background-color: lightgray;
    color: gray;
    border-radius: 7px;
    width: 15%;
    height: 32px;
    border: none;
    outline-color: darkgray;
    float: left;
    margin-top: 2%;
    line-height: 30px;
    padding-left: 10px;
}


.divider{
    border-top : 1px solid lightgray;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 1%;
}

.search-icon{
    background-color: transparent;
    border: none;
    color:gray;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, sans-serif;
    outline: none;
    margin-top: 1%;
    position: relative;
    display: inline-block;
}

.search-icon::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: gray;
    transition: width 0.3s ease;
}

.search-icon:hover::after{
    width: 100%;
}

.galleyLayout {
    border: 2px solid lightgray;
    border-radius: 15px;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    /*padding-left: 5%;*/
}

.companyname {
    padding-left: 3%;
    padding-top: 1%;
    font-size: 20px;
    font-weight: 500;
}

.postname {
    padding-top: 4%;
    padding-left: 3%;
    font-size: 23px;
    font-weight: bold;
}

.deadline {
    margin-left: 80%;
    margin-bottom: 1%;
}

.noBookmark {
    font-size: 20px;
    font-weight: 500px;
    margin-top: 3%;
}

.bottomShape { 
    margin-bottom: 10%;
}

.test-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-layout{
    border: 1px solid lightgray;
    height: 230px;
    width: 18%;
    border-radius: 5px;
    background: linear-gradient(to bottom, lightgray 70%, white 30%);
    margin: 0.5%;
}

.gallery-companyName{
    margin-top: 60%;
    margin-left: 3%;
}

.gallery-postName{
    padding-left: 3%;
    padding-top: 2%;
    font-weight: bold;
}

.gallery-deadline{
    font-size: 12px;
    text-align: right;
    padding-right: 3%;
}