.mypage-container {
  padding: 100px;
  color: #4e4e4e;
  width: 1100px;
  margin: auto;
}

.mypage-container>h2 {
  color: #5EAEDB;
  margin-bottom: 20px;
}
.nickname {
  color: gray;
}

.mypage-box {
  border-radius: 20px;
  border: 1px solid lightgray;
  padding: 30px 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mypage-box2 {
  display: flex;
  gap: 80px;
}
.image-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.file-btn {
  background-color: #F0F0F0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.setting-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mypage-nickname>input, .mypage-email>div>input, .mypage-phone>div>input {
  border-radius: 10px;
  background-color: #F0F0F0;
  border: none;
  padding: 10px;
  width: 250px;
}
.mypage-email>div, .mypage-phone>div {
  display: flex;
  gap: 10px;
}
select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
select:focus {
  outline: none;
}
button {
  cursor: pointer;
}
.save-btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}

.mypage-alert>div{
  display: flex;
  gap: 10px;
  align-items: center;
}
#alert-comment {
  font-size: 12px;
  color: #E85628;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2bc858;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mypage-btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: lightgray;
}


@media screen and (max-width: 1200px) {
  .mypage-container {
    width: 100%;
  }
}
