.preference {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px;
}

.preference>p {
    color: #5EAEDB;
    font-weight: bold;
}



.noBookmark {
    font-size: 20px;
    font-weight: 500px;
    margin-top: 3%;
}

.bottomShape { 
    margin-bottom: 10%;
}

.bookmark-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 왼쪽부터 정렬 */
    width: 100%;
}

.bookmark-container > div {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.bookmark-container-inline{
    display: initial;
}

.selectBox-container{
    height: 60px;
    line-height: 68px;
}

.topTag{
    background-color: gainsboro;
    margin-top: 2.5%;
    height: 80px;
    line-height: 80px;
    border-radius: 5px;
}

.tagItem{
    margin-left: 2%;
    color: lightslategray;
}

@media screen and (min-width: 650px) and (max-width: 1300px) {
    .colorless-button {
        font-size: 170%;
    }
    .search{
        margin-left: 40%;
        width: 220px;
    }
}

@media screen and (min-width: 375px) and (max-width: 650px) {
    .colorless-button {
        font-size: 140%;
    }
    .search{
        margin-left: 30%;
        width: 180%;
    }
}