.signup-container{
    height: 100vh;
    background-color: #7CD7A0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signup-form {
    padding: 50px;
    width: 500px;
    background-color: #FFFEF7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.signup-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.name-form, .check-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.name-form>input, .check-form>input{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    border: 1px solid #626262;
    background-color: #FFFEF7;
}

.next-btn{
    width: 100%;
}
.next-btn>button{
    width: 100%;
    background-color: #626262;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}