@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.signin-container{
    height: 100vh;
    background-color: #7CD7A0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "SUITE-Regular";
    color: #4E4E4E;
}

#signin-form {
    padding: 50px;
    width: 500px;
    background-color: #FFFEF7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.signin_logo {
    width: 300px;
}

.signin-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.id-form, .pw-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.id-form>input, .pw-form>input{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    border: 1px solid #626262;
    background-color: #FFFEF7;
}
.signin-form>ul{
    display: flex;
    gap: 40px;
    font-size: 12px;
    color: #626262;
}

input {
    outline: none;
    font-family: "SUITE-Regular";
}

.signin-btn{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.signin-btn>button:nth-child(1){
    width: 100%;
    background-color: #626262;
    color: white;
    border: none;
    border-radius: 10px;
    /* padding: 10px; */
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-family: "SUITE-Regular";
}
.signin-btn>button:nth-child(2){
    width: 100%;
    background-color: #FFFEF7;
    border: 1px solid #626262;
    border-radius: 10px;
    /* padding: 10px; */
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    position: relative;
    font-family: "SUITE-Regular";
}
.g-icon{
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 5px;
}