@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-container{
    width: 100%;
}


.main-start{
    background-color: #7CD7A0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}
.img-logo{
    width: 300px;
}
.text-logo{
    width: 800px;
}
.scrollBtn{
    color:#FFFEF7;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    transition: 0.5s;
}
.scrollBtn:hover{
    bottom: 20px;
}


.menu-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px;
}
.logo-img{
    width: 150px;
}
.menu-box{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.menu{
    width: 100%;
    height: 250px;
    background-color: lightgray;
    position: relative;
    transition: .4s;
}
.menu>a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.menu>a>img{
    width: 50%;
}
.menu>a>span{
    font-size: 20px;
}
.menu-info {
    padding: 10px;
    width: 220px;
}
.menu-title {
    background-color: rgba(255, 255, 255, 0.347);
    padding: 10px;
    display: inline-block;
    transition: .3s;
}
.menu:hover {
    box-shadow: 0 5px 10px gray;
}
.menu:hover .menu-title{
    transform: rotateX( 360deg );
}
.menu-title+h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.info1, .info3{
    text-align: right;
}
.info2, .info4{
    text-align: left;
}
.menu-icon {
    position: absolute;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    border: 10px solid lightgray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.info-container{
    width: 100%;
    background-image: url('../web/images/play-dots.png');
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.info-container>div>h1{
    color: #4E4E4E;
    font-size: 40px;
    font-family: 'Cafe24Ssurround';
}
.info-container>div>img{
    width: 400px;
}


.member-container{
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px; */
    padding: 100px;
    text-wrap: wrap;
}
.member{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    padding: 0 50px;
}
.member>li{
    text-align: center;
    width: calc(100%/5);
}
.member>li>img{
    width: 180px;
    border-radius: 50%;
}


@media screen and (max-width: 1100px) {
    .text-logo {
        width: 100%;
    }

    .menu-container {
        padding: 20px;
    }
    .menu-box {
        width: 100%;
    }
    .menu-info {
        width: 200px;
    }

    .member-container {
        padding: 50px 0;
    }
    .member {
        width: 100%;
        gap: 100px;
    }
    .member>li>img{
        width: 150px;
    }
}

@media screen and (max-width: 600px) {
    .text-logo {
        width: 100%;
    }

    .menu-container {
        padding: 20px;
    }
    .menu-box{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .menu {
        height: 200px;
    }

    .member-container{
        padding: 50px 0;
    }
    .member{
        width: 100%;
        gap: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .member>li>img{
        width: 100px;
    }
}